$wrapper_w: 1092px;
$hilight: rgba(#6eab1d, 0.2);
$gray: #c4c4c4;
$peleks: silver;
$darkgray: #585858;
$gaisipeleks: #f4f4f4;
$medgray: #848484;
$black: black;
$white: white;
$link: #ff8400;
$link-hover: #ff5a00;

$margin_bottom: 130px;