$color1: #1fbce3;
$color1_darker: darken($color1, 10);

$color2: #ffbcdf;
$color2_darker: #1fbcdf;

// $peleks: #ededed;

ins {
  background: none;
}

%default-input {
  @include borderbox;
  @include border-radius(0px);
  border: 0px solid rgba(0, 0, 0, 0.08);
  @include box-shadow(0px 0px 0px 0px rgba(#ff6d00, 0), inset 0px 1px 2px 0px rgba(2, 2, 2, 0.08));
  width: 100%;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  background-color: #fafafa;
  @include transition-property(box-shadow, background-color);
  @include transition-duration(0.15s);
  // @include border-radius(3px);
  &:focus {
    border: 0px solid rgba(0, 0, 0, 0.2);
    // @include box-shadow(inset 0.5px 0.866px 2px 0px rgba(#ff6d00, 0.2));
    background-color: rgba(#fafafa, 0.5);
    @include box-shadow(0px 0px 3px 0px rgba(#ff6d00, 1), inset 0.5px 0.866px 2px 0px rgba(#ff6d00, 0.24));
  }
}

input, button {
  @include font-size(1.8);
  font-family: $font__main;
  @include smooth;
  &[type="number"] {
    @extend %default-input;
  }
  &[type="text"] {
    @extend %default-input;
  }
  &[type="password"] {
    @extend %default-input;
  }
  &[type="file"] {
    @extend %default-input;
  }
  &[type="submit"] {
    width: 100%;
    margin-top: 50px;
    background-color: $white;
    @extend .button;
  }
}

input,
input:active,
input:focus,
a:focus {
  outline: 0;
  outline-style: none;
  outline-width: 0;
}

%svg_email {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0
iMCIgeT0iMCIgdmlld0JveD0iMCAwIDE4IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aC
BkPSJNMTUgNEgzQzEuMyA0IDAgNS4zIDAgN3YxMWMwIDEuNyAxLjMgMyAzIDNoMTJjMS43IDAgM
y0xLjMgMy0zVjdDMTggNS4zIDE2LjcgNCAxNSA0ek0xNyAyMEgxVjEwbDggNSA4LTVWMjB6TTE3
IDlsLTggNUwxIDlWNWgxNlY5eiIvPjwvc3ZnPg==");
  background-size: 18px 24px;
  background-repeat: no-repeat;
  background-position: 10px 12px;
}

%svg_phone {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0
iMCIgeT0iMCIgdmlld0JveD0iMCAwIDE4IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aC
BkPSJNOC41IDRoMUM5LjggNCAxMCAzLjggMTAgMy41IDEwIDMuMiA5LjggMyA5LjUgM2gtMUM4L
jIgMyA4IDMuMiA4IDMuNSA4IDMuOCA4LjIgNCA4LjUgNHpNMTQgMEg0QzIuMyAwIDEgMS4zIDEg
M3YxOGMwIDEuNyAxLjMgMyAzIDNoMTBjMS43IDAgMy0xLjMgMy0zVjNDMTcgMS4zIDE1LjcgMCA
xNCAwek0xNiAyM0gyVjFoMTRWMjN6TTcuNSAyMWgzYzAuMyAwIDAuNS0wLjIgMC41LTAuNSAwLT
AuMy0wLjItMC41LTAuNS0wLjVoLTNDNy4yIDIwIDcgMjAuMiA3IDIwLjUgNyAyMC44IDcuMiAyM
SA3LjUgMjF6Ii8+PC9zdmc+");
  background-size: 18px 24px;
  background-repeat: no-repeat;
  background-position: 10px 12px;
}

form {
  @include borderbox;
  // input[type=radio]:not(old):checked + label > span > span {
  input[type=radio]:not(old) {
    // opacity: 0;
 
  }
  .ninja-forms-all-fields-wrap {
    .ninja-forms-field.email {
      text-indent: 20px;
      position: relative;
      background-color: #fafafa;
      @extend %svg_email;
    }
    .ninja-forms-field.phone {
      text-indent: 20px;
      position: relative;
      background-color: #fafafa;
      @extend %svg_phone;
    }
    .radio-wrap {
      ul {
        li {
          display: inline-block;
          padding-top: 12px;
          padding-bottom: 11px;
          // padding-left: 15px;
          padding-right: 15px;
          position: relative;
          label {
            position: relative;
            @include font-size(1.8);
            font-family: $font__main;
            line-height: 1;
            top: -10px;
            margin-left: 15px;
            @include smooth;
            input[type='radio'] {
              position: relative;
              display: inline-block;
              overflow: hidden;
              width: 30px;
              height: 30px;
              top: 11px;
              margin-left: -10px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border: none;
              outline: 0;
              outline-style: none;
              outline-width: 0;
              &:focus, &::-moz-focus-inner {
                outline: 0;
                outline-style: none;
                outline-width: 0;
              }
              &:before {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                width: 30px;
                height: 30px;
                background: white;
                @include box-shadow(inset 0px 0px 2px 0px rgba(black, 0.5));
                z-index: 1;
                border-radius: 30px;
              }
              &:after {
                content: "";
                position: absolute;
                top: 15px;
                right: 15px;
                width: 0px;
                height: 0px;
                background: white;
                z-index: 1;
                border-radius: 50%;
                @include transition(all 150ms cubic-bezier(0.215, 0.61, 0, 1));
              }
              &:checked {
                &:after {
                  content: "";
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  width: 14px;
                  height: 14px;
                  background: black;
                  z-index: 1;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
    .select-wrap {
      border: 0px solid rgba(0, 0, 0, 0.08);
      // @include box-shadow(0px 0px 0px 0px rgba(#ff6d00, 0), inset 0.5px 0.866px 2px 0px rgba(2, 2, 2, 0.08));
      // background-color: #fafafa;
      @include borderbox;
      @include border-radius(0px);
      select {
        @extend %default-input;
        height: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../images/icon-select.png");
        background-repeat: no-repeat;
        background-position: 97% center;
        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }
      }
    }
    textarea {
      @extend %default-input;
      margin-bottom: 0px;
      resize: none;
      line-height: 1.2;
    }
  }
}

//////////

div[class*="bti-lm-col-"], div[class*="bti-lm-col2-"] {
  float: left;
}

/* Rendering Columns */
.bti-lm-col2-1-1 {
  width: 100%;
}

div[class*="bti-lm-col2-2-"] {
  width: 50%;
}

div[class*="bti-lm-col2-3-"] {
  width: 33.33%;
}

div[class*="bti-lm-col2-4-"] {
  width: 25%;
}

div[class="bti-lm-col2-item"] {
  float: none;
}

/* Rendering Rows/Default */
.bti-lm-col-1-1 {
  width: 100%;
}

.bti-lm-col-2-1 {
  width: 50%;
  // @include borderbox;
}

.bti-lm-col-2-2 {
  width: 100%;
}

.bti-lm-col-3-1 {
  width: 33.3%;
}

.bti-lm-col-3-2 {
  width: 66.6%;
}

.bti-lm-col-3-3 {
  width: 99.9%;
}

.bti-lm-col-4-1 {
  width: 25%;
}

.bti-lm-col-4-2 {
  width: 50%;
}

.bti-lm-col-4-3 {
  width: 75%;
}

.bti-lm-col-4-4 {
  width: 100%;
}

.bti-lm-a-2-1 {
  margin-right: 50%;
}

.bti-lm-a-3-1 {
  margin-right: 33.3%;
}

.bti-lm-a-3-2 {
  margin-right: 66.6%;
}

.bti-lm-a-4-1 {
  margin-right: 25%;
}

.bti-lm-a-4-2 {
  margin-right: 50%;
}

.bti-lm-a-4-3 {
  margin-right: 75%;
}

.bti-lm-b-2-1 {
  margin-left: 50%;
}

.bti-lm-b-3-1 {
  margin-left: 33.3%;
}

.bti-lm-b-3-2 {
  margin-left: 66.6%;
}

.bti-lm-b-4-1 {
  margin-left: 25%;
}

.bti-lm-b-4-2 {
  margin-left: 50%;
}

.bti-lm-b-4-3 {
  margin-left: 75%;
}

.bti-lm-clear {
  clear: both;
}

@media (max-width: 480px) {
  div[class^="bti-lm-a-"], div[class^="bti-lm-b-"] {
    margin-left: 0%;
    margin-right: 0%;
  }
  div[class^="bti-lm-col-"],div[class^="bti-lm-col2-"] {
    width: 100%;
  }
}

////////
.ninja-forms-required-items {
  padding: 16px;
  display: none;
}

.input-counter {
  padding-bottom: 16px;
}

.ninja-forms-cont {
  max-width: 868px;
  margin: 0 auto;
  margin-bottom: $margin_bottom;
  .ninja-forms-response-msg, .ninja-forms-error-msg {
    padding: 16px;
  }
  .ninja-forms-all-fields-wrap {
    hr.ninja-forms-field {
      border: none;
      border-bottom: 1px solid #ccc;
      width: calc(100% - 32px);
      margin-top: 70px;
    }
    .field-wrap {
      label {
        @include font-size(1.5);
        font-family: $font__sub;
        font-weight: 300;
        line-height: 1;
        padding-bottom: 8px;
        @include smooth;
      }
      margin-bottom: 22px;
    }
    .field-wrap {
      width: calc(100% - 32px);
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}

.ninja-forms-form-wrap *,
.ninja-forms-form-wrap *:after,
.ninja-forms-form-wrap *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a.tooltip {
  outline: none;
  text-decoration: none;
}

a.tooltip strong {
  line-height: 30px;
}

a.tooltip:hover {
  text-decoration: none;
}

a.tooltip span {
  z-index: 10;
  display: none;
  padding: 14px 20px;
  margin-top: -10px;
  margin-left: 28px;
  width: 240px;
  line-height: 16px;
  z-index: 1;
  position: relative;
}

a.tooltip span:before {
  border-top: 10px solid transparent;
  border-right: 15px solid #ccc;
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  left: -15px;
}

a.tooltip:hover span {
  display: inline;
  position: absolute;
  color: #333;
  border: 1px solid #ccc;
  background: #f1f1f1;
}

/*CSS3 extras*/

a.tooltip span {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 5px 5px 8px #CCC;
  -webkit-box-shadow: 5px 5px 8px #CCC;
  box-shadow: 5px 5px 8px #CCC;
}

#ui-datepicker-div {
  background: white;
  @include background-image(linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%));
  border-radius: 3px;
  @include box-shadow(0.5px 0.866px 6px 0px rgba(2, 2, 2, 0.25));
  width: 50%;
  max-width: 402px;
  @media (max-width: 480px) {
    width: 100%;
    left: 0 !important;
  }
  .ui-datepicker-header {
    border-bottom: solid 1px #C1C1C1;
    overflow: hidden;
    .ui-datepicker-next {
      position: relative;
      height: 20px;
      .ui-icon {
        position: relative;
        left: 70px;
        font-size: 13px;
        @extend .icon;
        &::before {
          font-size: 16px;
          position: absolute;
          content: '';
          top: 0;
          left: -64px;
          width: 20px;
          height: 20px;
          content: "\e602";
        }
      }
    }
    .ui-datepicker-prev {
      position: relative;
      height: 20px;
      .ui-icon {
        position: relative;
        left: -50px;
        font-size: 13px;
        @extend .icon;
        &::before {
          font-size: 16px;
          position: absolute;
          content: '';
          top: 0;
          left: 70px;
          width: 20px;
          height: 20px;
          content: "\e603";
        }
      }
    }
  }
  .ui-datepicker-calendar {
    width: 100%;
    padding: 10px;
    span {
      font-family: $font__main;
      font-weight: 300;
      @include smooth;
      @include font-size(1.3);
    }
    td {
      position: relative;
      a.ui-state-default {
        display: block;
        width: 100%;
        height: 28px;
        color: #585858;
        @include font-size(1.6);
        font-family: $font__main;
        font-weight: 400;
        @include smooth;
        position: relative;
        border: solid 0px rgb(255, 132, 0);
        &.ui-state-active {
          color: rgb(255, 132, 0);
          font-weight: 700;
        }
        @include respond($tablet-small) {
          &::before {
            @include transition(border 500ms cubic-bezier(0.385, 1.65, 0.615, 1));
            content: '';
            border: solid 0px rgb(255, 132, 0);
            width: 42px;
            height: 42px;
            @include border-radius(50%);
            position: absolute;
            top: -9px;
            left: 6px;
            z-index: -1;
          }
          &:hover, &.hover {
            &::before {
              border: solid 2px rgb(255, 132, 0);
            }
          }
          &.ui-state-active {
            color: white;
            font-weight: 300;
            &::before {
              content: '';
              @include background-image(linear-gradient(-45deg, rgb(255, 132, 0) 0%, rgb(255, 90, 0) 100%));
              width: 42px;
              height: 42px;
              @include border-radius(50%);
              position: absolute;
              top: -9px;
              left: 6px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}

#ui-datepicker-div a {
  text-decoration: none;
  cursor: pointer;
}

#ui-datepicker-div .ui-datepicker-header,
#ui-datepicker-div .ui-datepicker-calendar th,
#ui-datepicker-div .ui-datepicker-calendar td {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#ui-datepicker-div .ui-icon {
  text-indent: 0px;
}

.ui-datepicker-prev {
  float: left;
}

.ui-datepicker-next {
  float: right;
}

.ninja-forms-no-display {
  display: none;
}

.ninja-forms-form .wp-switch-editor {
  height: auto;
}

.ninja-forms-form .mceIframeContainer {
  background: #fff;
}

.ninja-forms-req-symbol {
  color: #ff0000;
}

.ninja-forms-form .label-above label,
.ninja-forms-form .label-below label {
  display: block;
}

.field-wrap,
#ninja_forms_required_items {
  margin-bottom: 20px;
}

#pass-strength-result {
  background-color: #eee;
  border-color: #ddd !important;
  border-style: solid;
  border-width: 1px;
  margin: 13px 5px 5px 1px;
  padding: 3px 5px;
  text-align: center;
  width: 200px;
}

#pass-strength-result.bad {
  background-color: #ffb78c;
  border-color: #ff853c !important;
}

#pass-strength-result.good {
  background-color: #ffec8b;
  border-color: #fc0 !important;
}

#pass-strength-result.short {
  background-color: #ffa0a0;
  border-color: #f04040 !important;
}

#pass-strength-result.strong {
  background-color: #c3ff88;
  border-color: #8dff1c !important;
}

.ninja-forms-cont {
  position: relative;
}

.ninja-forms-cont:after {
  clear: both;
  content: "";
  display: block;
}

.ninja-forms-field-error {
  color: red;
}

.ninja-forms-form-wrap input,
.ninja-forms-form-wrap select,
.ninja-forms-form-wrap textarea {
  // width: auto;
  // height: auto;
  vertical-align: inherit;
}

.ninja-forms-form-wrap label {
  font-weight: bold;
}

.ninja-forms-form-wrap .list-checkbox-wrap ul label,
.ninja-forms-form-wrap .list-radio-wrap ul label {
  font-weight: normal;
}

.field-wrap:after {
  clear: both;
  content: "";
  display: block;
}

.field-wrap.label-left .ninja-forms-field,
.field-wrap.label-left .ninja-forms-star-rating-control {
  margin-left: 8px;
}

.field-wrap.label-right .ninja-forms-field,
.field-wrap.label-right .ninja-forms-star-rating-control {
  margin-right: 8px;
}

.field-wrap.label-right label,
.field-wrap.label-left label {
  display: inline;
}

.label-above label {
  margin-bottom: 5px;
}

.MultiFile-wrap {
  display: inline-block;
}

/* ---------------------------------
TEXT FIELDS & TEXTAREAS
----------------------------------*/

.text-wrap.label-left input,
.profile_pass-wrap.label-left input,
.textarea-wrap.label-left textarea {
  margin-left: 10px;
}

.text-wrap.label-right input,
.profile_pass-wrap.label-right input,
.textarea-wrap.label-right textarea {
  margin-right: 10px;
}

.text-wrap.label-above label,
.textarea-wrap.label-above label {
  display: block;
  width: 100%;
}

.profile_pass-wrap input,
.text-wrap.label-above input,
.text-wrap.label-below input,
.text-wrap.label-inside input,
.textarea-wrap.label-above textarea,
.textarea-wrap.label-below textarea,
.textarea-wrap.label-inside textarea,
.list-dropdown-wrap.label-above select,
.list-dropdown-wrap.label-below select {
  width: 100%;
}

.textarea-wrap textarea {
  height: 200px;
}

.profile_pass-wrap input {
  margin-bottom: 10px;
}

/* ---------------------------------
RADIO & CHECKBOX LISTS
----------------------------------*/

.list-radio-wrap span ul li input,
.list-checkbox-wrap span ul li input {
  margin-right: 5px;
}

.list-radio-wrap ul,
.list-checkbox-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-radio-wrap ul li,
.list-checkbox-wrap ul li {
  list-style: none;
}

.list-radio-wrap ul li,
.list-checkbox-wrap ul li {
  margin: 0;
  padding: 0;
}

.list-radio-wrap.label-left label,
.list-radio-wrap.label-left ul,
.list-radio-wrap.label-left ul li,
.list-radio-wrap.label-right label,
.list-radio-wrap.label-right ul,
.list-radio-wrap.label-right ul li,
.list-checkbox-wrap.label-left label,
.list-checkbox-wrap.label-left ul,
.list-checkbox-wrap.label-left ul li,
.list-checkbox-wrap.label-right label,
.list-checkbox-wrap.label-right ul,
.list-checkbox-wrap.label-right ul li {
  float: left;
}

.list-radio-wrap.label-left ul li,
.list-radio-wrap.label-right ul li,
.list-checkbox-wrap.label-left ul li,
.list-checkbox-wrap.label-right ul li {
  padding: 0 8px;
}

// .list-radio-wrap.label-above ul li,
// .list-radio-wrap.label-below ul li,
// .list-checkbox-wrap.label-above ul li,
// .list-checkbox-wrap.label-below ul li {
//   padding: 0 0 0 10px;
// }

/* ---------------------------------
MULTI FIELD
----------------------------------*/

.list-multi-wrap.label-left label {
  float: left;
}

.list-multi-wrap.label-right select {
  float: left;
}

/* ---------------------------------
CREDIT CARD BLOCK
----------------------------------*/

.credit_card-wrap div label,
.credit_card-wrap div input {
  display: block;
  width: 100%;
}

.credit_card-wrap div {
  margin-bottom: 10px;
}

.credit_card-wrap div span {
  font-size: 0.8em;
}

/* ---------------------------------
HONEYPOT
----------------------------------*/

.honeypot-wrap {
  display: none;
}