/**
 * 15.0 Media Queries
 */

/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width;
}


@viewport {
  width: device-width;
}


/**
 * 15.1 Mobile Large 620px
 */
@include respond($mobile) {
  body {
    &:before {
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
      content: 'mobile-large';
      background: hsla(10 * 1, 90, 96, 1);
    }
  }
}


/**
 * 15.2 Tablet Small 740px
 */

@include respond($tablet-small) {
  body {
    &:before {
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
      content: 'tablet-small';
      background: hsla(10 * 4, 90, 96, 1);
    }
  }
}


/**
 * 15.3 Tablet Large 880px
 */

@include respond($tablet-large) {
  body {
    &:before {
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
      content: 'tablet-large';
      background: hsla(10 * 8, 90, 96, 1);
    }
  }
}


/**
 * 15.4 Desktop Small 955px
 */

@include respond($desktop-small) {
  body {
    &:before {
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
      content: 'desktop-small';
      background: hsla(10 * 12, 90, 96, 1);
    }
  }
}


/**
 * 15.5 Desktop Medium 1100px
 */

@include respond($desktop-medium) {
  body {
    &:before {
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
      content: 'desktop-medium';
      background: hsla(10 * 16, 90, 96, 1);
    }
  }
}


/**
 * 15.6 Desktop Large 1240px
 */
@include respond($desktop-large) {
  body {
    &:before {
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
      content: 'desktop-large';
      background: hsla(10 * 20, 90, 96, 1);
    }
  }
}


/**
 * 15.7 Desktop X-Large 1403px
 */

@include respond($desktop-x) {
  body {
    &:before {
      position: fixed;
      right: 0;
      top: 0;
      padding: 10px;
      content: 'desktop-x';
      background: hsla(10 * 30, 90, 96, 1);
      // width: -webkit-calc(50% - 289px);
      // width: calc(50% - 289px);
   
    }
  }
}


/**
 * 16.0 Print
 */

@include respond($print) {
  body {
    background: none !important;
    /* Brute force since user agents all print differently. */
    font-size: 11.25pt;
  }
  .secondary-toggle,
  .navigation,
  .page-links,
  .edit-link,
  #reply-title,
  .comment-form,
  .comment-edit-link,
  .comment-list .reply a,
  button,
  input,
  textarea,
  select {
    display: none;
  }
  .site-header,
  .site-footer,
  .hentry,
  .entry-footer,
  .page-header,
  .page-content,
  .comments-area {
    background: none !important;
    /* Make sure color schemes dont't affect to print */
  }
  body,
  blockquote,
  blockquote cite,
  blockquote small,
  label,
  a,
  .site-title a,
  .site-description,
  .post-title,
  .author-heading,
  .entry-footer,
  .entry-footer a,
  .taxonomy-description,
  .entry-caption,
  .comment-author,
  .comment-metadata,
  .comment-metadata a,
  .comment-notes,
  .comment-awaiting-moderation,
  .no-comments,
  .site-info,
  .site-info a,
  .wp-caption-text,
  .gallery-caption {
    color: #000 !important;
    /* Make sure color schemes don't affect to print */
  }
  pre,
  abbr[title],
  table,
  th,
  td,
  .site-header,
  .site-footer,
  .hentry + .hentry,
  .author-info,
  .page-header,
  .comments-area,
  .comment-list + .comment-respond,
  .comment-list article,
  .comment-list .pingback,
  .comment-list .trackback,
  .no-comments {
    border-color: #eaeaea !important;
    /* Make sure color schemes don't affect to print */
  }
  .site {
    margin: 0 7.6923%;
  }
  .site-branding {
    padding: 0;
  }
  .site-header {
    padding: 7.6923% 0;
  }
  .site-description {
    display: block;
  }
  .hentry + .hentry {
    margin-top: 7.6923%;
  }
  .hentry.has-post-thumbnail {
    padding-top: 7.6923%;
  }
  .sticky-post {
    background: #000 !important;
    color: #fff !important;
  }
  .entry-header,
  .entry-footer {
    padding: 0;
  }
  .entry-content,
  .entry-summary {
    padding: 0 0 7.6923%;
  }
  .post-thumbnail img {
    margin: 0;
  }
  .author-info {
    margin: 0;
  }
  .page-content {
    padding: 7.6923% 0 0;
  }
  .page-header {
    padding: 3.84615% 0;
  }
  .comments-area {
    border: 0;
    padding: 7.6923% 0 0;
  }
  .site-footer {
    margin-top: 7.6923%;
    padding: 3.84615% 0;
  }
}